@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.selected {
  border-color: #fab40c;
  color: #fab40c;
}

.swiper-button-next {
  color: #f8b40e;
  right: 40px;
}
.swiper-button-prev {
  color: #f8b40e;
  left: 40px;
}
.swiper-pagination-bullet-active {
  background-color: #f8b40e;
}
.swiper-pagination-bullet {
  background-color: #f8b40e;
}

.swiper-pagination {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  max-width: 15px;
  height: 100%;
  padding-left: 10px;
  /* background-color: #f8b40e; */
  gap: 5px;
}

.bg-overlay {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url("https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
